.partici_link_ctn {
  width: 100%;
  height: 100%;
  .partici_link_main {
    width: 100%;
    height: 80%;
    .p_input_ctn {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      > p {
        font-family: Inria Serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 21px;
        line-height: 29.4px;
        letter-spacing: 0%;
        text-align: center;
        color: #343434;

      }
    }
  }
}
